img {
     width: 200px;
     height: 200px;
}

.lookbook-card {
     box-shadow: rgba(96, 95, 102, 0.15) 0px 48px 100px 0px;
     cursor: pointer;
}

.lookbook-names {
     font-size: 1.25rem;
     max-width: 175px;
}