.patient-name {
     font-size: 1rem;
     font-weight: bold;
}

.patient-location {
     font-size: 0.75rem;
     font-weight: 300;
}

.profile-pic {
     height: 60px;
}

.status-requested {
     color: #3093ED
}